<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Do not forget to change the path to the css file -->
    <title>Not Found Page</title>
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div>-->
        <nav>
            <a href="#">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="#">Housing for rent</a></li>
                <!-- Guest users -->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <!-- Logged users -->
                <li><a href="#">Create offer</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>

        <main>
            <div class="not-found-container">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The Page you are looking for doesn't exist or another error occurred. Go to <a href="#">Home Page.</a></p>
            </div>
        </main>

        <footer>
            © 2021
        </footer>
    </div>

</body>

</html>