<h1>Login</h1>
<form action="/login" method="post">
    <label>Username: <input type="text" name="username" value="{{data.username}}"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <input type="submit" value="Login">
</form>