<h1>Register</h1>
<form action="/register" method="post">
    <label>Username: <input type="text" name="username" value="{{data.username}}"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <label>Repeat: <input type="password" name="repass"></label><br>
    <input type="submit" value="Register">
</form>