<section id="all-listings">
    <h1>Apartments for recents</h1>

    {{#each data}}

    {{> rentsPreview}}

    {{else}}
    <div class="no-data-listing">
        <p class="no-offer">There are no housing offers found...</p>
    </div>
    {{/each}}

</section>