<div class="card-home">
    <h2>{{name}}</h2>
    <div class="cta-container"><a href="/rents/{{_id}}" class="details-link">Details</a></div>
    <div class="card_image"><img src="{{homeImage}}"></div>
</div>