<div class="card">
    <h3>{{name}}</h3>
    <p>{{description}}</p>

    <div class="cta-container"><a href="/rents/{{_id}}" class="det-link">Details</a></div>
    <div class="card_circle"><img src="{{homeImage}}"></div>

</div>