<html lang="en">

<head>
    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Page Not Found</title>
</head>

<body>
    <!-- In case of error, you should display div with class "error" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div class="error">
        <p>Error message - 1</p>
        <p>Error message - 2</p>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Do not forget to change the path to the images -->
            <img class="logo" src="../static/images/before.png" alt="before-logo">
            <img class="car logo" src="../static/images/trip-logo.png" alt="trip-logo">
            <img class="logo" src="../static/images/after.png" alt="after-logo">
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <!-- Guest users and Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Shared Trips</a>
                    </li>
                    <!-- Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Offer Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Logout as [ test@abv.bg ]</a>
                    </li>
                    <!-- Guest users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section id="not-found-page">
            <!-- Do not forget to change the path to the image -->
            <img class="error-page" src="../static/images/404.png">
        </section>
    </main>

    <footer id="sticky-footer" class="bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Shared Trip 2021</p>
        </div>
    </footer>
</body>

</html>