<html lang="en">

<head>
    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Edit Trip</title>
</head>

<body>
    <!-- In case of error, you should display div with class "error" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div class="error">
        <p>Error message - 1</p>
        <p>Error message - 2</p>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Do not forget to change the path to the images -->
            <img class="logo" src="../static/images/before.png" alt="before-logo">
            <img class="car logo" src="../static/images/trip-logo.png" alt="trip-logo">
            <img class="logo" src="../static/images/after.png" alt="after-logo">
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <!-- Guest users and Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Shared Trips</a>
                    </li>
                    <!-- Logged users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Offer Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Logout as [ test@abv.bg ]</a>
                    </li>
                    <!-- Guest users -->
                    <li class="nav-item">
                        <a class="nav-link" href="">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section class="py-5" id="edit-trip-page">
            <div class="container edit">
                <h1>Edit trip</h1>
                <div>
                    <form action="" method="">
                        <div class="edit-label">
                            <label for="startPoint"> <i class="fas fa-map-marker-alt"></i> Starting Point</label>
                            <label for="endPoint"> <i class="fas fa-map-marker-alt"></i> End Point</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="startPoint" name="" value="">
                            <input type="text" class="form-control-2" id="endPoint" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="date"> <i class="far fa-calendar-alt"></i> Date</label>
                            <label for="time"> <i class="far fa-clock"></i> Time</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="date" class="form-control-2" id="date" name="" value="">
                            <input type="time" class="form-control-2" id="time" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="carImage">Car Image</label>
                            <label for="carBrand">Car Brand</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="carImage" name="" value="">
                            <input type="text" class="form-control-2" id="carBrand" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="seats">Available Seats</label>
                            <label for="price">Price</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="seats" name="" value="">
                            <input type="text" class="form-control-2" id="price" name="" value="">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer id="sticky-footer" class="bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Shared Trip 2021</p>
        </div>
    </footer>
</body>

</html>