<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div class="error-container">
            <p>Error</p>
        </div>-->


        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">All Posts</a></li>
                <!-- Logged users -->
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Posts of {{email-of-user}}</a></li>
                <li><a href="#">Logout</a></li>
                <!-- Guest users -->
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </nav>


        <main>

            <section id="details-page">

                <div class="main_card">
                    <div class="card_left">
                        <div class="card_datails">

                            <h1>Title: Two golden snub-nosed monkeys</h1>
                            <h3>Created by an author: Alex Petkov</h3>
                            <div class="card_animal">
                                <p class="card-keyword">Keyword: Animal</p>
                                <p class="card-location">Location: North America</p>
                                <p class="card-date">Date: 18.02.2021</p>
                            </div>

                            <p class="disc">Description: Monkey, in general, any of nearly 200 species of tailed primate, with the exception of lemurs, tarsiers, and lorises.All but the durukuli of tropical Central and South America are active during the day, moving
                                frequently in bands as they search for vegetation.</p>

                            <!-- If there is no registered user, do not display buttons-->
                            <div class="social-btn">
                                <!-- Only for registered user and author of the post -->
                                <a href="#" class="edit-btn">Edit</a>
                                <a href="#" class="del-btn">Delete</a>
                                <!-- logged in users, who have not yet voted-->
                                <a href="#" class="vote-up">UpVote +1</a>
                                <a href="#" class="vote-down">DownVote -1</a>
                                <!-- logged in user who has already voted-->
                                <p class="thanks-for-vote">Thanks For Voting</p>

                            </div>
                        </div>
                    </div>
                    <div class="card_right">
                        <img src="./static/img/animal.jpg" alt="image">
                    </div>
                </div>

            </section>

            <section id="votes">
                <div class="vote-info">
                    <div class="card_left">
                        <div class="card_datails">
                            <h1>Votes</h1>
                            <div class="card_vote">
                                <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                                <p class="PV">Total rating of votes: 0</p>
                            </div>
                            <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                            <!-- <p class="disc">People who voted for the post - alex@gmai.com, petar@gmail.com, petq@gmail.com</p>-->

                            <!-- If not display: -->
                            <p class="disc">People who voted for the post - No one has voted yet.</p>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer>
            © Js Back-End Exam 2021
        </footer>
    </div>

</body>

</html>