<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>


    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div class="error-container">
            <p>Error</p>
        </div>-->


        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">All Posts</a></li>
                <!-- Logged users -->
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Posts of {{email-of-user}}</a></li>
                <li><a href="#">Logout</a></li>
                <!-- Guest users -->
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </nav>

        <main>

            <section id="home">
                <div class="home-container">

                    <div class="short-info">
                        <h1>The best of the wildlife photography.</h1>
                        <h2>Share knowledge about the environment and enrich your life.</h2>
                    </div>

                </div>
            </section>

            <section id="home-page">

                <div class="offers">
                    <!-- Do not forget to change the path to the image -->
                    <div class="col container"><img src="./static/img/nature1.jpg" alt="nature_1"></div>
                    <!-- Do not forget to change the path to the image -->
                    <div class="col container"><img src="./static/img/nature2.jpg" alt="nature_2"></div>
                    <!-- Do not forget to change the path to the image -->
                    <div class="col container"><img src="./static/img/nature3.jpg" alt="nature_3"></div>
                    <!-- Do not forget to change the path to the image -->
                    <div class="col container"><img src="./static/img/nature4.jpg" alt="nature_4"></div>
                </div>

            </section>


        </main>


        <footer>
            © Js Back-End Exam 2021
        </footer>
    </div>

</body>

</html>