<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Posts</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div class="error-container">
            <p>Error</p>
        </div>-->



        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">All Posts</a></li>
                <!-- Logged users -->
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Posts of {{email-of-user}}</a></li>
                <li><a href="#">Logout</a></li>
                <!-- Guest users -->
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </nav>


        <main>
            <section id="my-posts">
                <h1>My post.</h1>

                <div class="my-container">
                    <!-- If there are own posts for wildlife in the database display each of them -->
                    <div class="my-card">
                        <div class="card-header">
                            <img src="./static/img/big-waterfall-dario-428.jpg" alt="water_fall" />
                        </div>
                        <div class="card-body">
                            <span class="tag tag-teal">Keyword: Waterfall</span>
                            <h4>
                                Title: The magical waterfall
                            </h4>
                            <div class="user">
                                <img src="https://snworksceo.imgix.net/dtc/3f23c937-0065-4e17-8daa-46449777caed.sized-1000x1000.jpg?w=1000" alt="vote" />
                                <div class="user-info">
                                    <h5>Author: Alex Petkov</h5>
                                    <small>Rating of votes: -5</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- If there are still no own posts for wildlife in the database display: -->
                    <!--<div class="no-posts">
                        <div class="no-posts-img">
                            <!/-- Do not forget to change the path to the image, and remove this comment  --/>
                            <img src="./static/img/bear.jpg" alt="image_nature_3">
                        </div>
                        <p class="no-offer">There are no own posts yet...</p>
                    </div>-->
                </div>
            </section>

        </main>


        <footer>
            © Js Back-End Exam 2021
        </footer>
    </div>

</body>

</html>