<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png" />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/static/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/create">Publish Car Listing</a></li>
                <li><a href="/accessory">Create Accessory</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        <main>

            {{{body}}}

        </main>
    </div>
    <footer>&copy; Carbicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>