<h1>Browser</h1>
<form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Search..." value="{{query.search}}">
    <input type="number" name="from" class="difficulty" placeholder="Price from..." value="{{query.from}}">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Price to..." value="{{query.to}}">
    <input type="submit" value="search">
</form>

<div id="cars">
    {{#each cars}}
    {{> carPreview}}
    {{else}}
    <p>No cars in database. <a href="/create">Create the first listing!</a></p>
    {{/each}}
</div>

<script src="/static/js/app.js"></script>