<article class="all-ads-card">
        <article class="all-ads-card-image">
            <!-- Do not forget to change the path to the image -->
            <img src="./static/img/job-icon1.png" alt="job-icon">
        </article>

        <article class="all-ads-card-content">
            <!--You must put the headline value in <h2>-->
            <h2>{{companyName}}</h2>
            <h3>Company Name: {{companyName}}</h3>
            <article class="all-ads-card-content-item">
                <!-- Do not forget to change the path to the image -->
                <img src="./static/img/map-icon.png">
                <p>Location {{location}}</p>
            </article>
        </article>

        <article class="all-ads-card-buttons">
            <a href="/ads/{{_id}}" class="btn-details">Details</a>
        </article>
    </article>