<article class="intro-right-side-content">
    <!-- Do not forget to change the path to the image -->
    <img src="./static/img/technology.png" alt="technology">
    <h5>
        <!--Put the value of the headline below-->
        {{companyName}}
        <!--Put the value of the total number of candidates below-->
        <span>Candidates: {{usersCount}}</span>
    </h5>
</article>