<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="./style/css/style.css">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--<div class="error-box">
            <p>Error</p>
        </div>-->

        <nav>

            <!-- Do not forget to change the path to the image -->
            <img src="./style/img/art-logo.png" alt="logo">
            <a href="#">ArtGallery</a>

            <ul class="menu">
                <li><a href="#">Gallery</a></li>
                <!-- Logged users -->
                <li><a href="#">Create Publication</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
                <!-- Guest users -->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>

        </nav>

        <main>
            <section id="edit-container">
                <div class="edit-container-info">
                    <!-- Do not forget to change the path to the image -->
                    <img src="./style/img/blog-img12.jpg" alt="image">

                    <form action="#" method="" class="container-text">
                        <h2>Edit</h2>
                        <p>Edit your masterpiece!</p>

                        <label for="title">Title:</label>
                        <input type="text" id="title" name="" value="">

                        <label for="painting-tech">Painting technique:</label>
                        <input type="text" id="painting-tech" name="" value="">

                        <label for="picture">Art picture:</label>
                        <input type="text" id="picture" name="" value="">

                        <label for="certificate">Certificate of authenticity:</label>
                        <input type="text" id="certificate" name="" value="">

                        <button class="edit-btn">Edit</button>
                    </form>

                </div>
            </section>
        </main>

        <footer>
            © Js Back-End Retake Exam 2021
        </footer>
    </div>
</body>

</html>