<section id="home-page">
    <article class="auto-content">
        <h1>NEWS OF OUR</h1>
        <h2>ART GALLERY</h2>
    </article>
</section>

<section id="home-page-content">
    <h1>Statistics of shared publication</h1>
    <article class="home-page-content-publications">

        <!--If there are publications in the database, show the following view for each created publication-->
        <article class="content-publication">
            <h1>Title: Spring in the garden</h1>

            <!--If no one has shared the post yet, the number should be zero -->
            <p>Number of people shared the publication: 0</p>
            <a href="#" class="image-details">View publication</a>
        </article>

        <article class="content-publication">
            <h1>Title: Painting is everything</h1>

            <!--If no one has shared the post yet, the number should be zero -->
            <!--<p>Number of people shared the publication: 0</p>-->

            <!--Otherwise, show the number -->
            <p>Number of people shared the publication: 2</p>
            <a href="#" class="image-details">View publication</a>
        </article>

        <!--If there are no publications yet, show:-->
        <!--<article class="no-publication">
                        <h1>There are no publications yet.</h1>
                        <a href="#" class="view-gallery">View Gallery</a>
                    </article>-->
    </article>

</section>