<section id="login-container">

    <div class="container">
        <!-- Do not forget to change the path to the image -->
        <img src="./style/img/slider.jpg" alt="image">

        <form action="/login" method="post" class="container-text">
            <h2>Login</h2>
            <p>Welcome, see the new masterpieces!</p>

            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="ivan_00" name="username">

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="*****" name="password">

            <button class="login-btn">Login</button>
            <div class="card-no-account">
                <p>Don't have an account? <a href="/register">Sign up</a>.</p>
            </div>

        </form>
    </div>

</section>