<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="./style/css/style.css">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-box" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--<div class="error-box">
            <p>Error</p>
        </div>-->

        <nav>

            <!-- Do not forget to change the path to the image -->
            <img src="./style/img/art-logo.png" alt="logo">
            <a href="#">ArtGallery</a>

            <ul class="menu">
                <li><a href="#">Gallery</a></li>
                <!-- Logged users -->
                <li><a href="#">Create Publication</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
                <!-- Guest users -->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>

        </nav>

        <main>
            <section id="profile-page">
                <h1>Full Profile Information</h1>
                <article class="profile-card">

                    <article class="profile-card-info">
                        <h2>Username: alex01</h2>
                        <h3>Address: 2572 Orphan Road</h3>
                        <!--If the user has shared publications, separate their titles with a comma and a space (, )-->
                        <h4>Titles of shared posts by the user: Painting is everything</h4>
                        <!--If not display:-->
                        <!--<h4>Titles of shared posts by the user: Not yet.</h4>-->

                        <!--If the user has created their own publications, separate their titles with a comma and a space (, )-->
                        <h4>Titles of which the user is the author: Spring in the garden, Winter is coming</h4>
                        <!--If not display:-->
                        <!--<h4>Titles of which the user is the author: Not yet.</h4>-->

                    </article>

                    <article class="profile-card-icon">
                        <!-- Do not forget to change the path to the image -->
                        <img src="./style/img/vip-user.png" alt="art-image1">
                    </article>

                </article>
            </section>
        </main>

        <footer>
            © Js Back-End Retake Exam 2021
        </footer>
    </div>
</body>

</html>