@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 5%;
    display: flex;
    font-weight: bolder;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

p {
    font-family: 'Lato';
}

.text-section {
    margin-right: 1.5%;
    padding: 1%;
    background-color: #E3F3FD;
    color: #798797;
    box-shadow: 0px 2px 3px 0px grey;
}

.text-section i {
    color: #4BACF8;
}
    
.banner-section {
    margin-left: 1.5%;
    color: #798797;
    border: 6px solid #46AAF8;
    border-radius: 10px;
    padding: 70px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.price {
    color:#44A9F8;
    font-size: xx-large;
    font-weight: bolder;
}

.button{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #44A9F8;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    margin-bottom: -100px;
    margin-top:15px;
}