html {
    margin:0;
}

*, *::before, *::after {
box-sizing: border-box;
}

body {
    margin:5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;
}

header {
    padding: 3%;
    width: 100%;
    height: 150px;
    margin-bottom:2%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

main {
    padding: 3%;
    width: 59%;
    height: 300px;
    margin-right:2%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

aside {
    padding: 3%;
    width: 39%;
    height: 300px;
    margin-bottom:2%;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

footer {
    padding: 3%;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}



