* {
    box-sizing: inherit;
}

section {
   width: 250px;
   height: 250px;
   border: 5px dotted #lec882;
   text-align: center;
}

p {
    width: 100%;
    border: 5px solid #0836ca;
    padding: 20px;
}
