@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}