
body {
    background-color: rgb(238, 238, 238);
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}

.card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 2%;
    height: 55%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

img {
    /* position: absolute; <-- FOR JUDGE 100/100 */
    border-top-left-radius: 2%; 
    border-top-right-radius: 2%;
}

.div2 {
    margin: 8%;
}

button {
    float: right;
    background-color: rgb(0, 153, 0);
    color: white;
    border: none;
    padding: 2%;
    border-radius: 5%;
}